body {
    font-family: Arial;
}

/* Top bar styles */
.nav-bar {
    clear: left;
    display: inline-block;
    float: right;
    height: 56px;
    width: 310px;
}
.top-bar-item {
    float: left;
    font-size: 16px;
    height: 63px;
    width: 54px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 5px;
}
.top-bar-item:nth-child(1), .top-bar-item:nth-child(2){
	padding-top: 19px;
}
 #top-nav-apps {
 	background-image: url("img/apps.png");
 }
 #top-nav-notif {
 	background-image: url("img/notif.png");
 }
 #user-pic {
 	background-image: url("img/user-logo.png");
 }
 /* The page contents style */
 .wrapper {
    padding-top: 63px;
    width: 100%;
}
.logo {
    background-image: url("img/google-logo.png");
    background-size: contain;
    display: block;
    height: 126px;
    margin: 190px auto 0;
    width: 289px;
}
.search-bar {
    border: 2px solid lightgrey;
    display: block;
    height: 41px;
    margin: 12px auto 0;
    width: 519px;
}

.buttons {
    display: block;
    height: 45px;
    margin: 0 auto;
    padding-top: 23px;
    width: 327px;
}
.btn {
    background-color: #f5f5f5;
    border-radius: 2px;
    color: #363636;
    float: left;
    font-weight: bold;
    height: 32px;
    margin-left: 2%;
    padding-top: 13px;
    text-align: center;
    width: 48%;
}

/* Footer styles */
.footer {
    background-color: #f2f2f2;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 14px;
}

.footer-bar {
    display: inline-block;
}
.footer-bar > ul > li {
    display: inline;
    padding-right: 13px;
}
#footer-bar-right {
    float: right;
}
